# Lecture 12: Volumes

### Example 3.2.2: 
Compute the volume of a sphere of radius 1 numerically.

In [1]:
import numpy as np

def Riemann_sum(f, a, b, n, alpha):
    x = np.zeros(n+1,float) # Initialize the mesh points
    h = (b-a)/n             # Calculate the step size
    sum = 0                 # Initialize the Riemann Sum 
    for i in range(n+1):
        x[i] = a + i*h
    for i in range(n):
        sample = (1-alpha)*x[i] + alpha*x[i+1]
        sum += f(sample)
    return sum*h

In [2]:
def Right(f, a, b, n):
    return Riemann_sum(f, a, b, n, alpha=1)
def Left(f, a, b, n):
    return Riemann_sum(f, a, b, n, alpha=0)
def Mid(f, a, b, n):
    return Riemann_sum(f, a, b, n, alpha=0.5)

In [3]:
r = 1
A = lambda x: np.pi*(r**2 - x**2) # The cross-sectional area
V = Mid(A, a=-r, b=r, n=10)
V

4.209734155810323

In [4]:
from pandas import DataFrame
from math import *

R = []
L = []
M = []
n = []
for index in (5, 10, 20, 40, 80, 100):
    n.append(index)
    R.append(Right(A, -r, r, index))
    L.append(Left(A, -r, r, index))
    M.append(Mid(A, -r, r, index))

# Convert to Arrays
R = np.asarray(R)
L = np.asarray(L)
M = np.asarray(M)



table = {'$n $': n, '$R_n$': R, '$L_n$': L, '$M_n$': M}
DataFrame(table)

   $n $     $R_n$     $L_n$     $M_n$
0     5  4.021239  4.021239  4.272566
1    10  4.146902  4.146902  4.209734
2    20  4.178318  4.178318  4.194026
3    40  4.186172  4.186172  4.190099
4    80  4.188136  4.188136  4.189117
5   100  4.188371  4.188371  4.189000