# Lecture 3: The Definite Integral

Example 2.2.4: Evaluate the integral $A = \displaystyle\int^3_0(x^3-6x)\;dx$

In order to evaluate the definite integrals, we use the package scipy. We refer to [this link](https://docs.scipy.org/doc/scipy/reference/tutorial/integrate.html) for more infomration.

In [2]:
import scipy.integrate as integrate
import scipy.special as special

In [3]:
# Enter the function you want to integrate
f = lambda x: x**3 - 6*x
A = integrate.quad(f, 0, 3)
A

(-6.750000000000002, 1.252090368016366e-13)

In [8]:
import numpy as np

def Riemann_sum(f, a, b, n, alpha):
    x = np.zeros(n+1,float) # Initialize the mesh points
    h = (b-a)/n             # Calculate the step size
    sum = 0                 # Initialize the Riemann Sum 
    for i in range(n+1):
        x[i] = a + i*h
    for i in range(n):
        sample = (1-alpha)*x[i] + alpha*x[i+1]
        sum += f(sample)
    return sum*h

In [9]:
def Right(f, a, b, n):
    return Riemann_sum(f, a, b, n, alpha=1)
def Left(f, a, b, n):
    return Riemann_sum(f, a, b, n, alpha=0)
def Mid(f, a, b, n):
    return Riemann_sum(f, a, b, n, alpha=0.5)

In [10]:
R_6 = Right(f, 0, 3, n=6)
R_6

-3.9375

In [11]:
L_6 = Left(f, 0, 3, n=6)
L_6

-8.4375

In [12]:
M_6 = Mid(f, 0, 3, n=6)
M_6

-7.03125

In [19]:
from pandas import DataFrame
from math import *

R = []
L = []
M = []
n = []
for index in (1, 6, 10, 20, 40, 100, 500, 1000, 5000):
    n.append(index)
    R.append(Right(f, 0, 3, index))
    L.append(Left(f, 0, 3, index))
    M.append(Mid(f, 0, 3, index))
    
table = {'$n $': n, '$R_n$': R, '$L_n$': L, '$M_n$': M }
DataFrame(table)

   $n $      $R_n$     $L_n$      $M_n$
0     1  27.000000  0.000000 -16.875000
1     6  -3.937500 -8.437500  -7.031250
2    10  -5.197500 -7.897500  -6.851250
3    20  -6.024375 -7.374375  -6.775313
4    40  -6.399844 -7.074844  -6.756328
5   100  -6.612975 -6.882975  -6.751013
6   500  -6.722919 -6.776919  -6.750040
7  1000  -6.736480 -6.763480  -6.750010
8  5000  -6.747299 -6.752699  -6.750000

Your turn: Repeat the same process with the following integrals:
1. $\displaystyle\int^3_1 e^x\;dx$
2. $\displaystyle\int^1_0 \sqrt{1-x^2}\;dx$

In [20]:
# Enter your code here
...